* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

.header-section {
    width: 100%;
    background: url("../images/b4.png") center top no-repeat;
    background-size: cover;
}

.menu-section{
    width: 100%;
}

.menu-section .bg-light {
    background: transparent !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    background: url("../images/l1.png") center bottom no-repeat;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 0px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    background: url("../images/l1.png") center bottom no-repeat;
}

.banner {
    width: 100%;
    padding: 80px 0px;
}

.banner .inner-banner {
    width: 100%;
    padding: 40px 0px;
}

.banner .inner-banner h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.banner .inner-banner h2 {
    font-size: 42px;
    line-height: 45px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0px 15px;
}

.banner .inner-banner p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #616162;
}

.banner .inner-btn {
    width: 100%;
    padding: 25px 0px;
}

.banner .inner-btn .btn-info {
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s ease-in;
}

.banner .inner-btn .btn-info:hover,
.banner .inner-btn .btn-info:focus {
    background-color: transparent;
    border: 1px solid #008ed6;
    color: #008ed6;
}

.banner .inner-btn .btn-light {
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #616162;
    border-radius: 3px;
    transition: 1s ease-in;
    margin-left: 10px;
}

.banner .inner-btn .btn-light:hover,
.banner .inner-btn .btn-light:focus {
    background-color: transparent;
    border: 1px solid #008ed6;
    color: #008ed6;
}

.feature {
    width: 100%;
    padding: 80px 0px;
}

.feature .title {
    width: 100%;
    padding: 80px 0px;
}

.feature .title h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.feature .title h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #000;
    margin: 5px 0px 15px;
}

.inner-feature {
    width: 100%;
    padding: 40px 30px;
    text-align: center;
}

.inner-circle {
    width: 95px;
    height: 95px;
    line-height: 95px;
    border-radius: 100%;
    margin: 0px auto 20px;
    border: 1px solid #eee;
}

.inner-feature h5 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.inner-feature p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #b4b4b4;
}

.about-long {
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
}

.about-long .title {
    width: 100%;
    padding: 40px 0px 40px;
}

.about-long .title h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.about-long .title h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #000;
    margin: 5px 0px 15px;
}

.content {
    width: 100%;
}

.content p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #616162;
}

.content .icons {
    font-size: 14px;
    line-height: 36px;
    font-weight: 600;
    color: #000;
}

.content .icons img {
    margin: 0px 15px 0px 0px;
}

.abourt-sort {
    width: 100%;
    padding: 80px 0px;
    background-color: #F2F2F2;
}

.abourt-sort .title {
    width: 100%;
    padding: 40px 0px 15px;
}

.abourt-sort .title h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.abourt-sort .title h2 {
    font-size: 32px;
    line-height: 42 px;
    font-weight: 700;
    color: #000;
    margin: 5px 0px 15px;
}

.content {
    width: 100%;
}

.testimonial-section {
    width: 100%;
    padding: 80px 0px;
    background: url(../images/ba2.png) center top no-repeat;
    background-size: cover;
}

.testimonial-section .title {
    width: 100%;
    padding: 40px 0px 40px;
}

.testimonial-section .title h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.testimonial-section .title h2 {
    font-size: 32px;
    line-height: 42 px;
    font-weight: 700;
    color: #fff;
    margin: 5px 0px 15px;
}


.testimonial-section .owl-carousel .item h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: #fff;
    font-style: italic;
}

.testimonial-section .owl-carousel .owl-item img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial-section .owl-carousel .item .card {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin: 31px 0px;
}

.testimonial-section .owl-carousel .item .card-title {
    margin: 2px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.testimonial-section .owl-carousel .item .card .text-muted {
    color: #fff !important;
    text-transform: uppercase;
}

.testimonial-section .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 90px;
}


.highlight {
    width: 100%;
    padding: 40px 0px;
    background: #191919;

}

.highlight h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    color: #fff;
}

.highlight h3 span {
    font-weight: 600
}

.highlight .inner-btn {
    width: 100%;
    padding: 0px 0px;
}

.highlight .inner-btn .btn-info {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s ease-in;
}

.highlight .inner-btn .btn-info:hover,
.highlight .inner-btn .btn-info:focus {
    background-color: transparent;
    border: 1px solid #008ed6;
    color: #008ed6;
}

.highlight .inner-btn .btn-light {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #616162;
    border-radius: 3px;
    transition: 1s ease-in;
    margin-right: 10px;
}

.highlight .inner-btn .btn-light:hover,
.highlight .inner-btn .btn-light:focus {
    background-color: transparent;
    border: 1px solid #008ed6;
    color: #008ed6;
}

.price {
    width: 100%;
    padding: 80px 0px;
}

.price .title {
    width: 100%;
    padding: 40px 0px 40px;
}

.price .title h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.price .title h2 {
    font-size: 32px;
    line-height: 42 px;
    font-weight: 700;
    color: #000;
    margin: 5px 0px 15px;
}

.inner-price {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
}

.inner-price .price-head {
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}

.inner-price .price-head h4 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #000;
}

.inner-price .prices {
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #eee;
}

.inner-price .prices h1 {
    font-size: 60px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0px;
}

.inner-price .prices h1 sup {
    top: -0.4em;
    font-size: 36px;
    font-weight: 400;
}

.inner-price .prices p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #b4b4b4;
    margin: -8px 0px 0px;
}

.inner-price .price-body {
    width: 100%;
    padding: 40px 37px;
}

.inner-price .price-body p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #b4b4b4;
    margin: -8px 0px 30px;
}

.inner-price .price-body p a {
    text-decoration: none;
    color: #0099cc;
}

.inner-price .price-body .btn-info {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #008ed6;
    border: 1px solid #eee;
    background-color: transparent;
    transition: 1s ease-in;
}

.inner-price:hover .price-body .btn-info,
.inner-price .price-body .btn-info:focus {
    background-color: #008ed6;
    border: 1px solid #0099cc;
    color: #fff;
}

.inner-price:hover .price-head h4 {
    color: #0099cc;
}

.inner-price:hover .prices {
    background: #0099cc;
    color: #fff;
}

.inner-price:hover .prices h1,
.inner-price:hover .prices h1 sup,
.inner-price:hover .prices p {
    color: #fff;
}

.contract-us {
    width: 100%;
    padding: 80px 0px 0px;
    background: #EDEDED;
}

.contract-us .title {
    width: 100%;
    padding: 40px 0px 40px;
}

.contract-us .title h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #008ed6;
    line-height: 30px;
    font-weight: 600;
}

.contract-us .title h2 {
    font-size: 32px;
    line-height: 42 px;
    font-weight: 700;
    color: #000;
    margin: 5px 0px 15px;
}

.info {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.info .fa {
    font-size: 40px;
    color: #0099cc;
    margin: 0px 0px 20px;
}

.info p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #b4b4b4;
}

.main-form {
    width: 70%;
    margin: 0px auto -80px;
    padding: 90px 70px 40px;
    background: #000000;
    position: relative;
    z-index: 1;
}

.mb-4 {
    text-align: right;
}

.main-form .form-control {
    padding: 12px;
    height: auto;
    background: transparent;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.main-form textarea.form-control {
    height: 189px;
}

.main-form .btn-info {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #0099cc;
    background-color: #0099cc;
    transition: 1s ease-in;
}

.main-form .btn-info:hover,
.main-form .btn-info:focus {
    background-color: transparent;
    border: 1px solid #0099cc;
    color: #0099cc;
}

.map {
    width: 100%;
}

.footer-section{
    width: 100%;
    background-color: #15141a;
}

.social-meadia{
    width: 100%;
    padding: 20px 0px;
}
.social-meadia .icons{
    display: inline-block;
    padding: 15px;
    color: #444348;
}
.social-meadia .icons fa-twitter{
    
}
.footer-section  p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 900;
    color: #444348;
    text-transform: uppercase;
    
}
.footer-section .fa-twitter{
    color: aqua;
}
